<tr>
    {% if episode.is_first %}
        <td
            align="center"
            rowspan="{{ series | length }}"
            class="{{ series.number | table_class_name }}"
        >
            <a href="/{{ series_path(series.number) }}/">
                {{ series.number }}
            </a>
        </td>
    {% endif %}

    <td>
        <a href="/{{ episode_path(episode.series, episode.number) }}/">
            {{ ns.ep_number_overall }}
        </a>
    </td>

    {% if episode.is_standalone %}
        <td title="This was a stand-alone episode." class="table-warning">
            <a href="/{{ episode_path(episode.series, episode.number) }}/">
                {{ episode.number }}*
            </a>
        </td>
    {% else %}
        <td>
            <a href="/{{ episode_path(episode.series, episode.number) }}/">
                {{ episode.number }}
            </a>
        </td>
    {% endif %}

    <td>{{ ns.track_total }}</td>
    <td>{{ episode.broadcast | date_format }}</td>

    {% if episode.is_first %}
        <td rowspan="{{ series | length }}">
            <img
                src="{{ asset('images/spotify.png') }}"
                height="16"
                width="16"
                alt="Spotify logo"
            />
            <a href="{{ series | get_playlist_id | spotify_playlist_url }}" target="_blank">Spotify</a>
        </td>
    {% endif %}

    <td>
        <img
            src="{{ asset('images/bbc-sounds.png') }}"
            height="16"
            width="16"
            alt="BBC Sounds logo"
        />
        <a href="{{ episode.url }}" target="_blank">BBC Sounds</a>
    </td>
</tr>
